/* Importando 3 fontes para a representação do site */
@font-face {
    font-family: "bebas-neue";
    src: url(../Assets/Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Open-sans-italic";
    src: url(../Assets/Fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf)
}
@font-face {
    font-family: "Open-sans-regular";
    src: url(../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: bebas-neue;
    text-transform: uppercase;
    color: white;
    font-size: 96px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    text-transform: uppercase;
    color: #F9003D;
}
h3{
    font-family: "bebas-neue";
    text-transform: uppercase;
    font-size: 64px;
    color: #FFAF00;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
p{
    color: white;
    font-size: 18px;
    font-family: "open-sans-regular";
    width: 592px;
}
.layout-grid{
    width: 100%;
    max-width: 1200px;
    min-width: 992px;
    margin: 0 auto;
    /* É a margem de 10% de cada lado, esta será usada no main */
}
header .header-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* É a margem de 10% de cada lado específica para o cabeçalho */
}
header{
    display: flex;
    align-items: center;

    height: 60px;
    width: auto;
    background-color: #F9003D;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 591px;
    height: 22px;
}
header nav a{
    color: white;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 18px;
    font-family: "bebas-neue";
}
body main .banner{
    background-image: url(../Assets/Imgs/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    height: 740px;

    padding-top: 226px ;

    display: flex;
    flex-direction: column;
}
body .linha{
    height: 1;
    border: 1px solid #ffaf00;
    width: 545px;
    margin-top: 16px;
    margin-bottom: 19px;
}
#img-icon{
    width: 37.31px;
    height: 80px;
    margin-top: 29px;
}
main .projetos{
    background-color: #080324;
    height: 1002px;
    width: auto;
}
main section #projectitle{
    font-family: "bebas-neue";
    font-size: 64px;
    color: #F9003D;

    padding-top: 64px;
    padding-bottom: 64px;
}
.spacebetween{
    display: flex;
    justify-content: space-between;
}